{% extends "document.html" %}

{% block body %}
<div id="vApp" v-cloak :data-pending="pending" class="col-md-12">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <div class="d-flex align-items-start">
            <h1 class="h4">Create College</h1>
        </div>
    </div>
    <div></div>
    <div class="tab-content p-3">
        <!-- Create -->
        <form action="/admin/college/create" method="post">
            <input type="hidden" name="acsrf" value="{{acsrf}}">
            
            <div class="form-group">
                <label for="name">Name</label>
                <input name="name" type="text" class="form-control">
            </div>
            
            <div class="form-group">
                <label for="code">Code</label>
                <input name="code" type="text" class="form-control">
            </div>
            

            <div class="form-group">
                <button class="btn btn-primary">Save</button>
            </div>
        </form>
        <!--  -->
    </div>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script>
    var acsrf = '{{acsrf}}';

    var vApp = new Vue({
        el: '#vApp',
        delimiters: ["${", "}"],
        mixins: [
        ],
        data: {
            pending: false,
        },
        mounted: function () {
            const me = this;


        },
        computed: {

        },
        methods: {

        }
    });
</script>
{% endblock %}