{% extends "document-public.html" %}

{% block body %}
<div>
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 ">
                <div class="text-center mt-5">
                    <h1 class="h1"><img width="250px" src="/images/logo.png" alt="Doctrack"></h1>
                    <h6 class="h5">Doctrack</h6>
                    
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>

<p class="text-center mb-4"><em>v 2024.07</em></p>

{% endblock %}
{% block scripts %}
{{ super() }}
{% endblock %}